.current-weather {
  background-color: var(--color-card);
  color: white;
  max-width: 500px;
  width: 100%;
  padding: 1em;
  border-radius: 10px;
  -webkit-box-shadow: inset 0px -97px 111px -148px rgba(255, 255, 255, 1);
  -moz-box-shadow: inset 0px -97px 111px -148px rgba(255, 255, 255, 1);
  box-shadow: inset 0px -97px 111px -148px rgba(255, 255, 255, 1);
}

.current-weather > * {
  margin: 0;
}

.current-weather > * ~ * {
  margin-top: 30px;
  margin-bottom: 0;
}

.current-weather .where {
  font-size: 1.1rem;
}

.current-weather .temp {
  font-size: 4rem;
}

.current-weather .condition {
  font-size: 1.2rem;
}
