.current-weather {
  position: relative;
  background-color: var(--color-card);
  color: white;
  max-width: 500px;
  width: 100%;
  padding: 1em;
  border-radius: 10px;
  display: flex;
}

.current-weather > * {
  width: 100%;
}

.current-weather .info > * {
  margin: 0;
}

.current-weather .info > * ~ * {
  margin-top: 30px;
  margin-bottom: 0;
}

.current-weather .where {
  font-size: 1.1rem;
}

.current-weather .temp {
  font-size: 3rem;
}

.current-weather .condition {
  font-size: 1.2rem;
}

.current-weather .icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.current-weather .icon img {
  width: 150px;
}
